@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Container for the entire page with background image */
.container {
  background-image: url('/abc.png'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%;
  min-height: 100vh; /* Make sure the container covers the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white; /* Adjust text color for contrast */
}

/* Style for the heading with Pacifico font */
.heading {
  
    font-family: 'Pacifico', cursive;
    color: #6f0000; /* Red color */
    font-size: 3rem;
    margin-bottom: 40px; /* Space between heading and buttons */
    text-align: center;
    text-shadow: 
      -1px -1px 0 #fff, /* Outline to the top-left */
      1px -1px 0 #fff,  /* Outline to the top-right */
      -1px 1px 0 #fff,  /* Outline to the bottom-left */
      1px 1px 0 #fff;   /* Outline to the bottom-right */
  }

/* Container for the image buttons */
.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.imageButton {
  border: none;
  background: none;
}

.imageButton img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.imageButton img:hover {
  transform: scale(1.05);
}

/* Separator line above the footer */
.separator {
  width: 100%;
  border-top: 2px solid #ddd;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .imageButton img {
    max-width: 200px;
  }
}
